@page
@model UML2Razor.Pages.Customers.ShowCustomersModel
@{
    ViewData["Title"] = "ShowCustomers";
}

<h1>Number of customers @Model.Customers.Count</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
            <th>Club member</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Mobile</td>
                <td>@(item.ClubMember? "yes":"no")</td>
                <td><a asp-page="EditCustomer" asp-route-mobile="@item.Mobile">Edit</a></td>
                <td><a asp-page="DeleteCustomer" asp-route-deleteMobile="@item.Mobile">Delete</a></td>
            </tr>
        }
    </tbody>

    <btn>
        <a class="nav-link text-dark bg-primary" asp-area="" asp-page="/Customers/AddCustomer">Add a customer</a>
    </btn>
</table>
