@page
@model UML2Razor.Pages.Customers.ShowCustomersModel
@{
    ViewData["Title"] = "ShowCustomers";
}

<h1>Number of customers @Model.Customers.Count</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Mobile</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Mobile</td>
                <td><a asp-page="EditCustomer" asp-route-id="@item.ID">Edit</a></td>
                <td><a asp-page="DeleteCustomer" asp-route-deleteId="@item.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
